* {
    box-sizing: border-box;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: #3e3c3c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
}
.navlink {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.a1, .a2, .a3, .a4 {
    padding: 15px;
    color: white;
    text-decoration: none;
    position: relative;
    bottom: 10px;
    left: 450px;
    font-family: cursive;
}
.navname {
    position: relative;
    top: 10px;
    right: 400px;
    font-family: system-ui, 
    -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.about {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.aboutlinks {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 40px;
    top: 150px;
    animation: 2s infinite alternate slideout;
}
.aboutimage {
    position: relative;
    left: 40px;
}
.hello {
     position: relative;
    top: 100px;
    right: 40px;
}
.home {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: orange;
    
}
.softdev {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.p {
    text-transform: capitalize;
    font-style: italic;
    font-size: 18px;
}
.recwork {
    font-size: 50px;
    font-family: sans-serif;
    position: relative;
    right: 20px;
}
.work {
    margin: 50px;
    display: flex;
}
.horizontal {
    height: 0;
    flex-grow:1;
    position: relative;
    top: 30px;
}
.stories {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.border {
    display: flex;
    justify-content: space-between;
}
.border1, .border2, .border3, .border4 {
    /* border-style: ridge; */
    box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.05), 
    0 6px 20px 
    rgba(0, 0, 0, 0.05), 
    0 6px 20px
    rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 3px;
    border-radius: 5px;
}
#stories {
    font-size: 16px;
    text-transform: capitalize;
    font-family: cursive;
}
.trending {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.projects {
    display: flex;
    justify-content: space-around;
}
.marginpro {
    margin: 70px;
}
.btns:hover {
    cursor: pointer;
    padding: 10px;
}
.pro1, .pro2, .pro3, .pro4, .pro5, .pro6 {
    height: 65vh;
    width: 25vw;
    box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.05), 
    0 6px 20px 
    rgba(0, 0, 0, 0.05), 
    0 6px 20px
    rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 10px;
    background-image: url('bd-desk-one.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
}
.pro1:hover {
    background-image: url('bd-desk-one_.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.pro2:hover {
    background-image: url('bd-desk-one_.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.pro3:hover {
    background-image: url('bd-desk-one_.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.pro4:hover {
    background-image: url('bd-desk-one_.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.pro5:hover {
    background-image: url('bd-desk-one_.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.pro6:hover {
    background-image: url('bd-desk-one_.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    
}
.para1, .para2, .para3, .para4, .para5, .para6 {
    text-transform: capitalize;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 150px;
    font-size: 25px;
}
.btn1 {
    position: relative;
    top: 180px;
    background-color: transparent;
    color: white;
    border: 0;
    left: 100px;
    text-transform: uppercase;
}
.btnpro {
     box-shadow: 0 4px 4px 0 
    rgba(0, 0, 0, 0.05), 
    0 6px 20px 
    rgba(0, 0, 0, 0.05), 
    0 6px 20px
    rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: rgb(240, 103, 40);
    cursor: grab;
    position: relative;
    top: 60px;
}
.homelink {
    text-decoration: none;
    color: white;
}
.aboutus {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
.abtimage {
    position: relative;
    left: 75px;
    top: 50px;
}
#about {
    background-color: black;
}
.btn1:hover {
    cursor: pointer;
    color: rgb(226, 21, 21);
    padding: 5px;
}
.lang {
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    text-align: center;
}
.list1 {
    list-style: url('Rectangle-55-bg-img.png');
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.list2 {
    list-style: url('Rectangle-56-bg-img.png');
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}.list3 {
    list-style: url('Rectangle-57-bg-img.png');
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.abtus {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: orange; 
}
.horiz {
    margin: 100px;
}
.conta{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    padding: 100px;
}
.interest{
    text-align: left;
    min-width: auto;
}
.form{
    height: auto;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: left;
}
input{
    border: none;
    color: #979493;
}
button{
    background: #ff6b00;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}
